@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Sora, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    justify-content: space-between;
    align-content: space-between;
    background: #0d1b35;
    align-items: center;
    color: white;
    padding: 14px 32px;
    display: flex;
}

button {
    font-family: Sora, sans-serif;
    background: white;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    color: black;
    border: 0;
}

button:hover {
    background-color: #0d1b35;
    color: white;
    border: 2px solid white;  
}